services:
  - type: web
    name: banking-backend
    runtime: node
    plan: starter
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        value: $MONGO_URI
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
      - key: PORT
        value: 10000
      - key: CORS_ORIGIN
        value: https://prime-wave-bank.netlify.app
